body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 0;
  justify-self: auto;
}

header {
  display: flex;
  flex-direction: row;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: gray;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

h1 {
  font-size: 300%;
  font-family: "Agbalumo";
  flex: 2;
  text-align: center;
  
}

header > img  {
  width: 13%; 
  
}

.login {
  font-size: 200%;
  transition: 0.3s;
  margin-right: 1%;

} 

.login:hover {
  transform: scale(110%);
}

.sign_up {
  font-size: 200%;
  transition: 0.3s;
  margin-right: 1%;
}

.sign_up:hover {
  transform: scale(110%);
}

main {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background: gray;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.instruktion-rubrik {
  text-align: center;
  font-size: 250%;
  font-family: "Agbalumo";
}

.instruktion-lista {
  font-size: 150%;
}

aside {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  background: gray;
  margin-top: 10%;
  margin-bottom: 10%;
  border-bottom: 2px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}


.ingrediens-rubrik {
  text-align: center;
  font-size: 250%;
  font-family: "Agbalumo";
}

.ingrediens-lista {
  font-size: 150%;
}


.flex-container1 {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  border: 2px;
  border-radius: 5px;
} 

.flex-container1 > img {
  margin: 30px;
  border-style: solid;
  border-color: gray;
  border-width: 10px;
  border-radius: 5px;
}

footer {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  background-color: gray; 
  border-bottom: 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.flex-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#instagramLogo {
  width: 4%;
  margin-left: 5%;
}

#footer-text {
  font-size: 200%;
}

.email {
  margin-left: 1%;
  font-size: 200%;
  transition: 0.3s;
}

.email:hover {
  transform: scale(110%); 
}

a.Instagram_länk {
  font-size: 200%;
  transition: all 0.3s;
  margin: 1%;
}

a.Instagram_länk:hover {
  transform: scale(110%);

}

